@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Playfair+Display&display=swap');
$bgColor: rgba(252, 235, 233, 0.4);

h2, h4, h5, .btn, label {
    font-family: 'Mate SC', serif;
}

p, input, select {
    font-family: 'Playfair Display', serif;
}

#recipe, #recipeModal {
    background-color: $bgColor;
}

header {
    background-image: url(img/header_bkg.jpg);
}

#headImg {
    position: relative;
}

img {
    position: relative;
    z-index: -1;
}

#searchbox {
    position: absolute;
    left: 30%;
    top: 45%;
    display:inline-block;
    z-index:10;
    width: 40%;

    input {
        background-color: $bgColor;
        color:whitesmoke;
    }

}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-input-placeholder {
    color: whitesmoke;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }





